# Public key for deployment user
$deployment_key = 

$postgres_username =
$postgres_password =

# Credentials for S3 storage
$aws_access_key_id =
$aws_secret_access_key =
$s3_bucket =

# Mailgun
$mailgun_api_url =
$mailgun_api_key =

